@charset "utf-8";

html{
	height:100%;  
}
body{
	margin:0px;
	height:100%;

}

ul {
	list-style: none;	
}

hr{
	margin:30px 10px -0px 10px;
	background-color:  #2B4068;
	height:3px;
}

a, a:visited{
	text-decoration: none;
	color:#0061B1;
	font-weight: bold;
}

a:hover, a:active{
	text-decoration: underline;
	font-weight: bold;
	opacity: .7;
}

#contenedor{
	margin: 0 auto;
	width:980px;
	margin-bottom:5px;
	background-color:#fff;
	/*	border:1px solid #000; */
	
}
header{
	width:960px;
	height:60px;
	padding:20px 0 0 20px;
	background-color:#2B4068;
	color: #fff;
	
}

footer{
	clear: both;
	width:960px;
	height:40px;
	padding:20px 0 0 20px;
	background-color:#2B4068;
	color: #fff;
	/*border:1px solid #000;*/
	
}


nav{
	width:500px;
	height: 30px;

}
nav ul {
	margin: 0;
	padding: 0;
	line-height: normal;
	
}

nav li {
	/*display:block;  las opciones del menu se muestran en la misma linea*/
	float:left;		/*las opciones del menu se muestran en la misma linea*/
	width:130px;
	margin:0 15px 0 0;
	line-height:31px;  /* indica el alto de la caja de li */
}

nav li a, nav li a:visited{
	display:block;  /* para que el fondo y texto ocupe todo el bloque y no solo el texto*/
	padding-bottom:5px;
	background-color:#2B4068;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	text-align:center;

	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;

	box-shadow: 0.15em -0.3em 0.1em   silver;
	-webkit-box-shadow: 0.15em -0.3em 0.1em   silver;
	-moz-box-shadow: 0.15em -0.3em 0.1em   silver;
	-o-box-shadow: 0.15em -0.3em 0.1em   silver;
}

nav li.activo a, nav li:hover  a{
	color:#2B4068;
	background-color: #fff; 
	border-bottom: 2px solid #fff;  
	text-decoration: none;
	opacity: 1;
	font-weight: bold;
}





article {
	/*border-top: gray solid 1px; */
	padding: 0 1em;
}



#logo_inferior{
	
	width:800px;
	height:130px;

	margin:-20px auto 20px auto;
	position: relative;
	
	border-style: solid;
	border-color: #2B4068;
	border-left-width: 0.2em;
	border-right-width: 0.2em; 
	border-bottom-width: 0.2em;
	border-radius: 0.5em;

	background: none repeat scroll 0 0 white; 
}

#contenido{
	clear:left;
	float:left;
	width:960px;
	margin-bottom:5px;
	margin-top:30px;
	
}

#sidebar{
	float:left;
	width:300px;
	/*border:1px solid #000; */
	margin-top:37px;
	margin-left:10px;
}

#informacion{
	height:300px;
	background-color:#fff;
	/*border-top: 2px solid gray; */
	margin-bottom: 0.5em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-top-right-radius: 0.5em;

}



#loguearse{
	margin:0 auto; 
	width:270px;
	margin-bottom: 0.5em;
	border-radius: 0.5em;
	
}

#loguearse h2 {
	width: 100%;
	margin: 0px;
	line-height: 0.8em;
	border-bottom: #2B4068 solid 0.5em; 
	background-color: #2B4068;
	text-align: center; 
	color: white; 
}
#loguearse p{
	padding-right:15px;
	/*color:;*/
	font-size:12px;
	text-align:right;
	
}   

#buscador{
	width: 600px;
	height:120px;
	margin:0px auto 30px auto;
	padding-left: 10px;
	
}

#buscadorIzq{
	float:left;
	width: 400px;
	margin-top: 10px;

	height:80px;
}
#buscadorDch{
	float:right;
	width: 170px;
	margin-top: 30px;
	
}
#buscador .divCampo{
	width:400px;
}

.bloqueBordesAzul{
	border-style: solid;
	border-color: #2B4068;
	border-left-width: 0.2em;
	border-right-width: 0.2em; 
	border-top-width: 0.5em;
	border-bottom-width: 0.5em;
}

/* sin borde superior */
.bloqueBordesAzul_1{
	border-style: solid;
	border-color: #2B4068;
	border-left-width: 0.2em;
	border-right-width: 0.2em; 
	border-top-width: 0;
	border-bottom-width: 0.5em;
}

.bloqueSombra{
	box-shadow: 0.3em 0.3em 0.1em 0.05em silver;
	-webkit-box-shadow: 0.3em 0.3em 0.1em 0.05em silver;
	-moz-box-shadow: 0.3 0.3em 0.1em 0.05em silver;
	-o-box-shadow: 0.3 0.3em 0.1em 0.05em silver;
}

.bloqueRedondo{
	border-radius: 0.5em;
}


.bloqueRedondo_1{
	border-radius: 0.5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.bloqueRedondo_2{
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

/* estable un fondo de pantalla*/
.gradiante{
	background: -moz-linear-gradient(#D3D8E8,white) no-repeat;
	background: -webkit-linear-gradient(#D3D8E8,white) no-repeat;
	background: -o-linear-gradient(#D3D8E8,white) no-repeat;
	background: linear-gradient(#D3D8E8,white)no-repeat !important ;

	/*background-image: url("../imagenes/1.jpg");*/
	/*height:100%; */
   
}

#central{
	width:900px;
	margin:0px auto 20px auto;
}

#centralIndex{  /* se utliza en la pagina index.php de cada usuario y en las paginas que no ocupan mucho verticalmente */
	width:950px;
	margin:0px auto 20px auto;
}

#central1{
	width:950px;
	margin:0px auto 20px auto;
	float:left; /*consigo que los div con 'float:left' se incluyan dentro de su div padre. El div padre va creciendo en alto automaticamente */
	padding-bottom: 20px;

}

/* MENU SECCION PRIVADA */
#bloqueMenu {
	width:950px;
	display: table;  /* para que cada opcion del menu (li) se incluya dentro de la capa del menu */
	border-top: solid 0.2em #2B4068;;
	border-bottom: 1px solid #2B4068;
	background: #cccccc ;
	color: #222222;
	font-weight: bold;

	border-top-left-radius:0.35em;
	border-top-right-radius:0.35em;
}

#bloqueMenu  ul{
padding-left:5px;
padding-right:50px;

}

#bloqueMenu  li{ 
	float: left;
	line-height: 2.5;  /* representa el alto de una caja del menu */
	
	
	margin: 1px .2em  0;
	
	
	border: 1px solid #2B4068;
	border-bottom-width: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	
	background: #2B4068;
	font-weight: normal;
	color: #fff;
	font-size: 17px;
	
}

#bloqueMenu .activo {
	background: #fff;
/*para que no se muestre la linea de la opcion del menu activo */	
	line-height: 2.6;
	margin-bottom: -1px;
	border-bottom-width: 0;	
/* deshabilitar link de a href con css */
	pointer-events: none;
	cursor: default;
}

#bloqueMenu  li:hover{
	background-color:#2B4068;
	opacity: 0.7;
}

#bloqueMenu  li a{
	padding:0px 20px 0px 20px;
	color: #fff;
	text-decoration: none;

	display: block;  /* para que el enlace ocupe toda la caja de su menu, es decir, ocupe toda la caja de la etiqueta 'li' */
}
#bloqueMenu  li.activo a{
	color: #2B4068;
}


#contenido1{  /*  se utiliza en las secciones privadas para mostrar los listados y formulario de alta de alumnos, profesoras,... */
	float:left;
	width:750px;
	padding:20px 20px 20px 20px;
	border:0.2em solid #05244c;
	border-left-width: 0;
	border-bottom-right-radius:0.5em;
	border-top-right-radius:0.5em;

	height: 580px;
}

/*  MENU VERTICAL LATERAL IZQUIERDO  */

#divMenu_Vertical{
	margin-left:10px;
	width:130px;
	float:left;
	clear:both; 
}



ul.menuVertical{
	 width: 100%; /* para que ocupeto todo el ancho */
	 margin: 0;
  	padding: 0;
}
ul.menuVertical li{
	border-left:0.2em solid #05244c;

	line-height: 25px;
	padding: 5px 0px 5px 10px;
	background-color:#2B4068;
	color:#fff;
	font-weight: bold;
	font-size: 17px;
}

ul.menuVertical li:first-child{
	border-top:0.2em solid #05244c;
}

ul.menuVertical li:nth-last-child(2){
	border-bottom:0.2em solid #05244c;
}
ul.menuVertical  li:hover{
	background-color:#2B4068;
	opacity: 0.7;
}

ul.menuVertical .activo{
	border-right-width: 0;

	background: #fff;
	color:#2B4068;
/* deshabilitar link de a href con css */
	pointer-events: none;
	cursor: default;
}

/* para la opcion demenu que se no muestra informacion. Se utiliza para diseño */
ul.menuVertical li.noMenu{
	border-left-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	border-right:0.2em solid #05244c;
	background-color:#fff;
	/* deshabilitar link de a href con css */
	pointer-events: none;
	cursor: default;
	
height:540px;
}
ul.menuVertical li.noMenu:hover{
	border-right: 1px solid #0B0B3B;
	background-color:#fff;
}


/* lsitados */

.datagrid table { 
	border-collapse: collapse; /*  fusión automática de todos los bordes adyacentes de la tabla*/
	text-align: left; 
	width: 100%; 
}
 .datagrid {
	width:600px;
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	background: #fff; 
	overflow: hidden; 
	border: 1px solid #006699; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	text-align:center;
	margin:0 auto;
	
}
 .datagrid table td { 
	padding: 3px 10px; 
	text-align:center;
	height:30px;
}
 .datagrid table th { 
	padding: 3px 10px; 
	text-align:center;
}
 .datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#006699; 
	color:#FFFFFF; 
	font-size: 15px; 
	font-weight: bold; 
	border-left: 1px solid #0070A8; 
} 
 .datagrid table thead th:first-child { 
	border: none; 
}
 .datagrid table tbody td { 
	color: #00557F; 
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal; 
}
 .datagrid table tbody .alt td { /*  se aplica a las celdas que tienen la clase 'alt'. La clase 'alt' se aplica a las filas impares */
	background: #E1EEF4; 
	color: #00557F; 
}
 .datagrid table tbody td:first-child {  /* a la 1ª celda de cada fila no se aplica el borde izquierdo */
	border-left: none; 
 }
 .datagrid table tbody tr:last-child td { 
	border-bottom: none; 
 }
 .datagrid table tfoot td div { 
	border-top: 1px solid #006699;
	background: #E1EEF4;
} 
 .datagrid table tfoot td { 
	padding: 0; 
	font-size: 12px 
} 
 .datagrid table tfoot td div{ 
	padding: 2px; 
}
 .datagrid table tfoot td ul { 
	margin: 0; 
	padding:0; 
	list-style: none; 
	text-align: center; 
}
 .datagrid table tfoot  li { 
	display: inline; 
 }
 .datagrid table tfoot li a { 
	text-decoration: none; 
	display: inline-block;  
	padding: 2px 8px; 
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #006699;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; 
}
 .datagrid table tfoot ul .active, .datagrid table tfoot ul a:hover { 
	 text-decoration: none;
	 border-color: #00557F; 
	 color: #FFFFFF; 
	 background: none; 
	 background-color:#006699;
 }
 
 .active{
	text-decoration: none;
	 border-color: #00557F; 
	 color: #000!important; 
	 background: none; 
	 background-color:#DCDCDC!important;
 
 }
 
 .alt:hover{
	background:#DCDCDC;;
 }
 .impar:hover{
	background:#DCDCDC;;
 }
 
 #central label{
	color:#2B4068;
	font-weight:bold;
 }
 
.buscador{
	width:90%!important;
}

.avanzada{
	cursor:pointer;
	margin-left:15px;
}

.avanzada:hover{
	color:#2B4068;
	font-weight:bold;
}

#oculto{
	padding:20px;
}

#slider{
width:600px;
margin:30px;
float: left;
box-shadow: 0 .1em 1em black;
-webkit-box-shadow: 0 .1em 1em black;
-moz-box-shadow: 0 .1em 1em black;
-o-box-shadow: 0 .1em 1em black;
}

.contenedor_superior{
	
}

/* ESTILOS DEL LOS ELEMENTOS */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

.bjqs-caption{
color:black;
background:whitesmoke;
opacity:.75;
}
 
/* BOTONERA UBICADA AL PIE DEL SLIDE */
ol.bjqs-markers{
margin-top:10px;
}
ol.bjqs-markers li a{
padding: 5px 10px;
background: #3b5998;
color: #fff;
margin: 5px;
text-decoration: none;
transition:background .5s ease;
-webkit-transition:background .5s ease;
-moz-transition:background .5s ease;
-o-transition:background .5s ease;
}
li.active-marker a, ol.bjqs-markers li a:hover{
background:gray!important;
}
 
/* CONTROLES ATRAS Y ADELANTE */
ul.bjqs-controls.v-centered li a {
display: block;
padding: 10px;
background: whitesmoke;
color: #000;
text-decoration: none;
opacity:.75;
 
transition:color .5s ease, background .5s ease;
-webkit-transition:color .5s ease, background .5s ease;
-moz-transition:color .5s ease, background .5s ease;
-o-transition:color .5s ease, background .5s ease;
}
ul.bjqs-controls.v-centered li a:hover{
    background:#000;
    color:#fff;
}


/*
.menu{
	width:980px;
	text-align:center;
	margin:0 auto;
	padding: 10px;
	
}

.menu ul {
    
    width: 100%;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

.menu a {
   
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: #2B4068;
    padding: 10px;
    border-right: 1px solid white;
}

.menu a:hover {
    background-color: #aaa;
	color:#2B4068;
}

.menu li {
    display: inline;
}
*/
/*  menu implementado en tabla 

table.menuVertical { 
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-collapse: collapse; 
	width: 920px;
	margin-left:10px;
	border-top-left-radius: 0.5em;

}
th:first-child {

border-left-top-radius: 6px;
border-right-top-radius: 6px;
}

table.menuVertical th{
	border-left: 1px solid #0B0B3B;
	width: 100px;
	line-height: 30px;
	padding: 5px 0px 5px 10px;
	font-weight: bold;
	font-size: 17px;
	text-align: left;
}

table.menuVertical th.menu{
	background-color:#2B4068;
	
}
table.menuVertical th.menuActivo{
	background-color:#fff;
	
	border-right-width: 0;
	pointer-events: none;
	cursor: default;
}

table.menuVertical th.no_menu{
	height: 120px;
	border-right: 1px solid #0B0B3B;
	border-left-width: 0;

}

table.menuVertical td { 
	width: 700px;
	height: 180px;
	border-bottom: 1px solid #0B0B3B;
}

table.menuVertical th a{
	padding:0px 20px 0px 20px;
	color: #fff;
	text-decoration: none;
}
table.menuVertical th.menuActivo a{
	color: #2B4068;
}

table.menuVertical th:hover.menu{
	background-color:#2B4068;
	opacity: 0.7;
}
 */


/* END menu vertical */


/*  MENU SUPERIOR
#bloqueMmenu{
	width:980px;
	text-align:center;
	margin:0 auto;
	padding: 10px;
	border:1px solid red;
	
}

#bloqueMenu ul {
    
    width: 100%;
    padding: 0;
    margin: 0 auto;
   
}

#bloqueMenu a {
   
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: #2B4068;
    padding: 10px;
    border-right: 1px solid white;
}

#bloqueMenu a:hover {
    background-color: #aaa;
	color:#2B4068;
}

#bloqueMenu li {
    display: inline;
}
*/

/* end MENU PRIVADO */