@charset "utf-8";

html{
	height:100%;  
}
body{
	margin:0px;
	height:100%;

}



#contenedor{
	margin: 0 auto;
	width:980px;
	margin-bottom:5px;
	background-color:#fff;
	/*	border:1px solid #000; */
	
}
header{
	width:960px;
	height:60px;
	padding:20px 0 0 20px;
	background-color:#2B4068;
	color: #fff;
	
}

footer{
	clear: both;
	width:960px;
	height:40px;
	padding:20px 0 0 20px;
	background-color:#2B4068;
	color: #fff;
	/*border:1px solid #000;*/
	
}


nav{
	width:500px;
	height: 30px;

}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
	
}

nav li {
	/*display:block;  las opciones del menu se muestran en la misma linea*/
	float:left;		/*las opciones del menu se muestran en la misma linea*/
	width:130px;
	margin:0 15px 0 0;
	line-height:31px;  /* indica el alto de la caja de li */
}

nav li a, nav li a:visited{
	display:block;  /* para que el fondo y texto ocupe todo el bloque y no solo el texto*/
	padding-bottom:5px;
	background-color:#2B4068;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	text-align:center;

	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;

	box-shadow: 0.15em -0.3em 0.1em   silver;
	-webkit-box-shadow: 0.15em -0.3em 0.1em   silver;
	-moz-box-shadow: 0.15em -0.3em 0.1em   silver;
	-o-box-shadow: 0.15em -0.3em 0.1em   silver;
}

nav li.activo a, nav li:hover  a{
	color:#2B4068;
	background-color: #fff; 
	border-bottom: 2px solid #fff;  
	text-decoration: none;
	opacity: 1;
	font-weight: bold;
}





article {
	/*border-top: gray solid 1px; */
	padding: 0 1em;
}

hr{
	margin:30px 10px -0px 10px;
	background-color:  #2B4068;
	height:3px;
}

a, a:visited{
	text-decoration: none;
	color:#0061B1;
	font-weight: bold;
}

a:hover, a:active{
	text-decoration: underline;
	font-weight: bold;
	opacity: .7;
}


#logo_inferior{
	
	width:800px;
	height:130px;

	margin:-20px auto 20px auto;
	position: relative;
	
	border-style: solid;
	border-color: #2B4068;
	border-left-width: 0.2em;
	border-right-width: 0.2em; 
	border-bottom-width: 0.2em;
	border-radius: 0.5em;

	background: none repeat scroll 0 0 white; 
}

#contenido{
	float:left;
	width:670px;
	margin-bottom:5px;
	
}

#sidebar{
	float:left;
	width:300px;
	/*border:1px solid #000; */
	margin-top:37px;
	margin-left:10px;
}

#informacion{
	height:300px;
	background-color:#fff;
	/*border-top: 2px solid gray; */
	margin-bottom: 0.5em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-top-right-radius: 0.5em;

}



#loguearse{
	margin:0 auto; 
	width:270px;
	margin-bottom: 0.5em;
	border-radius: 0.5em;
	
}

#loguearse h2 {
	width: 100%;
	margin: 0px;
	line-height: 0.8em;
	border-bottom: #2B4068 solid 0.5em; 
	background-color: #2B4068;
	text-align: center; 
	color: white; 
}
#loguearse p{
	padding-right:15px;
	/*color:;*/
	font-size:12px;
	text-align:right;
	
}   

.bloqueBordesAzul{
	border-style: solid;
	border-color: #2B4068;
	border-left-width: 0.2em;
	border-right-width: 0.2em; 
	border-top-width: 0.5em;
	border-bottom-width: 0.5em;
}


.bloqueSombra{
	box-shadow: 0.3em 0.3em 0.1em 0.05em silver;
	-webkit-box-shadow: 0.3em 0.3em 0.1em 0.05em silver;
	-moz-box-shadow: 0.3 0.3em 0.1em 0.05em silver;
	-o-box-shadow: 0.3 0.3em 0.1em 0.05em silver;
}

.bloqueRedondo{
	border-radius: 0.5em;
}

/* estable un fondo de pantalla*/
.gradiante{
	background: -moz-linear-gradient(#D3D8E8,white) no-repeat;
	background: -webkit-linear-gradient(#D3D8E8,white) no-repeat;
	background: -o-linear-gradient(#D3D8E8,white) no-repeat;
	background: linear-gradient(#D3D8E8,white)no-repeat !important ;

	/*background-image: url("../imagenes/1.jpg");*/
	/*height:100%; */
   
}

#central{
	width:900px;
	height: 450px;	
	margin:0px auto 20px auto;
	
}

.menu{
	width:980px;
	text-align:center;
	margin:0 auto;
	padding: 10px;
	
}

.menu ul {
    
    width: 100%;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

.menu a {
   
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: #2B4068;
    padding: 10px;
    border-right: 1px solid white;
}

.menu a:hover {
    background-color: #aaa;
	color:#2B4068;
}

.menu li {
    display: inline;
}
.datagrid table { 
	border-collapse: collapse; /*  fusión automática de todos los bordes adyacentes de la tabla*/
	text-align: left; 
	width: 100%; 
}
 .datagrid {
	width:600px;
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	background: #fff; 
	overflow: hidden; 
	border: 1px solid #006699; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	text-align:center;
	margin:0 auto;
	
}
 .datagrid table td { 
	padding: 3px 10px; 
	text-align:center;
	height:30px;
}
 .datagrid table th { 
	padding: 3px 10px; 
	text-align:center;
}
 .datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#006699; 
	color:#FFFFFF; 
	font-size: 15px; 
	font-weight: bold; 
	border-left: 1px solid #0070A8; 
} 
 .datagrid table thead th:first-child { 
	border: none; 
}
 .datagrid table tbody td { 
	color: #00557F; 
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal; 
}
 .datagrid table tbody .alt td { /*  se aplica a las celdas que tienen la clase 'alt'. La clase 'alt' se aplica a las filas impares */
	background: #E1EEF4; 
	color: #00557F; 
}
 .datagrid table tbody td:first-child {  /* a la 1ª celda de cada fila no se aplica el borde izquierdo */
	border-left: none; 
 }
 .datagrid table tbody tr:last-child td { 
	border-bottom: none; 
 }
 .datagrid table tfoot td div { 
	border-top: 1px solid #006699;
	background: #E1EEF4;
} 
 .datagrid table tfoot td { 
	padding: 0; 
	font-size: 12px 
} 
 .datagrid table tfoot td div{ 
	padding: 2px; 
}
 .datagrid table tfoot td ul { 
	margin: 0; 
	padding:0; 
	list-style: none; 
	text-align: center; 
}
 .datagrid table tfoot  li { 
	display: inline; 
 }
 .datagrid table tfoot li a { 
	text-decoration: none; 
	display: inline-block;  
	padding: 2px 8px; 
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #006699;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; 
}
 .datagrid table tfoot ul .active, .datagrid table tfoot ul a:hover { 
	 text-decoration: none;
	 border-color: #00557F; 
	 color: #FFFFFF; 
	 background: none; 
	 background-color:#006699;
 }
 
 .active{
	text-decoration: none;
	 border-color: #00557F; 
	 color: #000!important; 
	 background: none; 
	 background-color:#DCDCDC!important;
 
 }
 
 .alt:hover{
	background:#DCDCDC;;
 }
 .impar:hover{
	background:#DCDCDC;;
 }
 
 #central label{
	color:#2B4068;
	font-weight:bold;
 }
 
.buscador{
	width:90%!important;
}